@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15p rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 1024px;
    max-width: 90%;
    height: 580px;
    max-height: 90%;
}

.container .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    background: #fff;
    font-size: 18px;
    color: #000;
    border-radius: 0 0 0 40px;
    transition: all 1.2s ease;
    cursor: pointer;
}

.container.active .close {
    background: #512da8;
    color: #fff;
}

.container h1 {
    margin-bottom: 50px;
}

.toggle-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container .form-message {
    font-size: 12px;
    color: #e03333;
    visibility: hidden;
    padding: 0 15px;
}

.container span {
    margin-bottom: 10px;
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 10px;
}

.container a:hover {
    color: #512da8;
}

.container button {
    background: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
}

.container button.hidden {
    background: transparent;
    border-color: #fff;
    margin: 20px 0;
}

.container form {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    color: #512da8;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-bottom: 2px;
    font-size: 13px;
    border-radius: 8px;
    width: 250px;
    outline: none;
}

.container input:focus,
.container input:valid {
    background: transparent;
    border: 1px solid #512da8;
    transition: 0.3s ease;
}

.form-container {
    position: relative;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.form-container .form-field {
    position: relative;
    margin-bottom: 10px;
}

.form-container .form-field label {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 13px;
    background: #fff;
    color: #ccc;
    transform: translateY(-50%);
    pointer-events: none;
    padding: 0 5px;
    z-index: 10;
    transition: 0.3s ease;
}

.form-container .form-field input:focus ~ label,
.form-container .form-field input:valid ~ label {
    color: #512da8;
}

.form-container .form-field .password-icon {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 14px;
    cursor: pointer;
    padding: 9px;
}

.form-container .form-field input:focus ~ i,
.form-container .form-field input:valid ~ i {
    color: #512da8;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
    opacity: 0;
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 0 0 50%;
    z-index: 10;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 50% 0 0;
}

.toggle {
    background: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-signin {
    transform: translateX(-200%);
}

.container.active .toggle-signin {
    transform: translateX(0);
}

.toggle-signup {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-signup {
    transform: translateX(200%);
}
